/examples/saved_h5ad
/data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

private/

notebooks/log

docs/make.bat
docs/build/
experiments/.Rhistory
experiments/cci-by-sample.pdf
experiments/cci.pdf
experiments/cellphonedb_download.ipynb
experiments/Ex1_hgsc_cellphonedb.ipynb
experiments/hgsc_cellchat.nb.html
experiments/hgsc_cellchat.Rmd
experiments/nichnet_hgsc.nb.html
experiments/nichnet_hgsc.Rmd
experiments/Perturb_fish_eda.ipynb
experiments/perturb-fish-data-cleaning.ipynb
experiments/perturbfish-run-oos-multi.ipynb
experiments/perturbfish-run-oos-surrogate-how-many.ipynb
experiments/perturbfish-run-oos-surrogate-insitu.ipynb
experiments/perturbfish-run-oos-surrogate-multi.ipynb
experiments/perturbfish-run-oos-surrogate-one.ipynb
experiments/perturbfish-run-oos-surrogate-plot.ipynb
experiments/perturbfish-run-oos.ipynb
experiments/perturbfish-run.ipynb
experiments/perturbfish-run2.ipynb
experiments/perturbmap-eda.ipynb
experiments/steamboat_mouse_brain_cell_metadata.csv.gz
experiments/steamboat_mouse_brain_cell_scores.csv.gz
experiments/steamboat_mouse_brain_cell_scores.hdf
experiments/steamboat_mouse_brain_cell_scores.hdf.npy
experiments/steamboat_mouse_brain_metagene_by_celltypes_corrected.csv
experiments/steamboat_mouse_brain_metagene_by_celltypes.csv
experiments/steamboat_mouse_brain_metagenes.csv
experiments/Untitled.ipynb
experiments/cellphonedb-res/endometrium_example_meta.tsv
experiments/cellphonedb-res/hgsc_0
experiments/cellphonedb-res/hgsc_1
experiments/cellphonedb-res/hgsc_2
experiments/cellphonedb-res/hgsc_3
experiments/cellphonedb-res/hgsc_4
experiments/cellphonedb-res/hgsc_5
experiments/cellphonedb-res/hgsc_6
experiments/cellphonedb-res/hgsc_7
experiments/cellphonedb-res/hgsc_8
experiments/cellphonedb-res/hgsc_9
experiments/cellphonedb-res/hgsc_10
experiments/cellphonedb-res/hgsc_11
experiments/cellphonedb-res/hgsc_12
experiments/cellphonedb-res/hgsc_13
experiments/cellphonedb-res/hgsc_14
experiments/cellphonedb-res/hgsc_15
experiments/cellphonedb-res/hgsc_16
experiments/cellphonedb-res/hgsc_17
experiments/cellphonedb-res/hgsc_18
experiments/cellphonedb-res/hgsc_19
experiments/cellphonedb-res/hgsc_20
experiments/cellphonedb-res/hgsc_21
experiments/cellphonedb-res/hgsc_22
experiments/cellphonedb-res/hgsc_23
experiments/cellphonedb-res/hgsc_24
experiments/cellphonedb-res/hgsc_25
experiments/cellphonedb-res/hgsc_26
experiments/cellphonedb-res/hgsc_DEGs.tsv
experiments/cellphonedb-res/hgsc_meta.tsv
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_205657.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224235.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224238.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224242.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224245.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224249.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224253.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224258.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224303.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224307.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224309.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224313.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224318.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224322.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224326.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224330.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224334.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224340.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224343.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224347.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224353.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224357.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224402.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224407.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224411.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224415.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224420.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_06_02_2025_224424.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_205657.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224235.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224238.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224242.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224245.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224249.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224253.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224258.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224303.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224307.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224309.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224313.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224318.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224322.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224326.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224330.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224334.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224340.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224343.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224347.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224353.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224357.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224402.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224407.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224411.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224415.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224420.txt
experiments/cellphonedb-res/simple_analysis_deconvoluted_percents_06_02_2025_224424.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_205657.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224235.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224238.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224242.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224245.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224249.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224253.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224258.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224303.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224307.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224309.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224313.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224318.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224322.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224326.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224330.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224334.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224340.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224343.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224347.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224353.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224357.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224402.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224407.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224411.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224415.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224420.txt
experiments/cellphonedb-res/simple_analysis_interaction_scores_06_02_2025_224424.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_205657.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224235.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224238.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224242.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224245.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224249.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224253.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224258.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224303.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224307.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224309.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224313.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224318.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224322.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224326.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224330.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224334.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224340.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224343.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224347.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224353.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224357.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224402.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224407.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224411.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224415.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224420.txt
experiments/cellphonedb-res/simple_analysis_means_result_06_02_2025_224424.txt
experiments/cellphonedb-res/db/v5.0.0/cellphonedb.zip
experiments/cellphonedb-res/db/v5.0.0/complex_input.csv
experiments/cellphonedb-res/db/v5.0.0/gene_input.csv
experiments/cellphonedb-res/db/v5.0.0/interaction_input.csv
experiments/cellphonedb-res/db/v5.0.0/protein_input.csv
experiments/cellphonedb-res/db/v5.0.0/sources/transcription_factor_input.csv
experiments/cellphonedb-res/db/v5.0.0/sources/uniprot_synonyms.tsv
experiments/log/log.txt
experiments/nichenet-res/nichenet_scaled_SMI_T10_F001.csv
experiments/nichenet-res/nichenet_scaled_SMI_T10_F002.csv
experiments/nichenet-res/nichenet_scaled_SMI_T10_F006.csv
experiments/nichenet-res/nichenet_scaled_SMI_T10_F014.csv
experiments/nichenet-res/nichenet_scaled_SMI_T11_F001.csv
experiments/nichenet-res/nichenet_scaled_SMI_T11_F002.csv
experiments/nichenet-res/nichenet_scaled_SMI_T11_F004.csv
experiments/nichenet-res/nichenet_scaled_SMI_T11_F008.csv
experiments/nichenet-res/nichenet_scaled_SMI_T11_F009.csv
experiments/nichenet-res/nichenet_scaled_SMI_T11_F020.csv
experiments/nichenet-res/nichenet_scaled_SMI_T12_F005.csv
experiments/nichenet-res/nichenet_scaled_SMI_T12_F007.csv
experiments/nichenet-res/nichenet_scaled_SMI_T12_F009.csv
experiments/nichenet-res/nichenet_scaled_SMI_T12_F013.csv
experiments/nichenet-res/nichenet_scaled_SMI_T12_F015.csv
experiments/nichenet-res/nichenet_scaled_SMI_T12_F018.csv
experiments/nichenet-res/nichenet_scaled_SMI_T13_F005.csv
experiments/nichenet-res/nichenet_scaled_SMI_T13_F009.csv
experiments/nichenet-res/nichenet_scaled_SMI_T13_F011.csv
experiments/nichenet-res/nichenet_scaled_SMI_T13_F018.csv
experiments/nichenet-res/nichenet_scaled_SMI_T13_F019.csv
experiments/nichenet-res/nichenet_scaled_SMI_T14_F002.csv
experiments/nichenet-res/nichenet_scaled_SMI_T14_F005.csv
experiments/nichenet-res/nichenet_scaled_SMI_T14_F015.csv
experiments/nichenet-res/nichenet_scaled_SMI_T14_F018.csv
experiments/nichenet-res/nichenet_scaled_SMI_T14_F019.csv
experiments/nichenet-res/nichenet_SMI_T10_F001.csv
experiments/nichenet-res/nichenet_SMI_T10_F002.csv
experiments/nichenet-res/nichenet_SMI_T10_F006.csv
experiments/nichenet-res/nichenet_SMI_T10_F014.csv
experiments/nichenet-res/nichenet_SMI_T11_F001.csv
experiments/nichenet-res/nichenet_SMI_T11_F002.csv
experiments/nichenet-res/nichenet_SMI_T11_F004.csv
experiments/nichenet-res/nichenet_SMI_T11_F008.csv
experiments/nichenet-res/nichenet_SMI_T11_F009.csv
experiments/nichenet-res/nichenet_SMI_T11_F020.csv
experiments/nichenet-res/nichenet_SMI_T12_F005.csv
experiments/nichenet-res/nichenet_SMI_T12_F007.csv
experiments/nichenet-res/nichenet_SMI_T12_F009.csv
experiments/nichenet-res/nichenet_SMI_T12_F013.csv
experiments/nichenet-res/nichenet_SMI_T12_F015.csv
experiments/nichenet-res/nichenet_SMI_T12_F018.csv
experiments/nichenet-res/nichenet_SMI_T13_F005.csv
experiments/nichenet-res/nichenet_SMI_T13_F009.csv
experiments/nichenet-res/nichenet_SMI_T13_F011.csv
experiments/nichenet-res/nichenet_SMI_T13_F018.csv
experiments/nichenet-res/nichenet_SMI_T13_F019.csv
experiments/nichenet-res/nichenet_SMI_T14_F002.csv
experiments/nichenet-res/nichenet_SMI_T14_F005.csv
experiments/nichenet-res/nichenet_SMI_T14_F015.csv
experiments/nichenet-res/nichenet_SMI_T14_F018.csv
experiments/nichenet-res/nichenet_SMI_T14_F019.csv
experiments/perturbfish-celcomen/celcomen_CHUK.csv
experiments/perturbfish-celcomen/celcomen_CHUK.pdf
experiments/perturbfish-celcomen/celcomen_IRAK1.csv
experiments/perturbfish-celcomen/celcomen_IRAK1.pdf
experiments/perturbfish-celcomen/celcomen_IRF7.csv
experiments/perturbfish-celcomen/celcomen_IRF7.pdf
experiments/perturbfish-celcomen/celcomen_LBP.csv
experiments/perturbfish-celcomen/celcomen_LBP.pdf
experiments/perturbfish-celcomen/celcomen_MAP2K2.csv
experiments/perturbfish-celcomen/celcomen_MAP2K2.pdf
experiments/perturbfish-celcomen/celcomen_MAP2K6.csv
experiments/perturbfish-celcomen/celcomen_MAP2K6.pdf
experiments/perturbfish-celcomen/celcomen_MYD88.csv
experiments/perturbfish-celcomen/celcomen_MYD88.pdf
experiments/perturbfish-celcomen/celcomen_PELI1.csv
experiments/perturbfish-celcomen/celcomen_PELI1.pdf
experiments/perturbfish-celcomen/celcomen_summary.pdf
experiments/perturbfish-celcomen/celcomen_TAB2.csv
experiments/perturbfish-celcomen/celcomen_TAB2.pdf
experiments/perturbfish-celcomen/celcomen_TRAM1.csv
experiments/perturbfish-celcomen/celcomen_TRAM1.pdf
experiments/perturbfish-celcomen-oos/celcomen_CHUK.csv
experiments/perturbfish-celcomen-oos/celcomen_CHUK.pdf
experiments/perturbfish-celcomen-oos/celcomen_IRAK1.csv
experiments/perturbfish-celcomen-oos/celcomen_IRAK1.pdf
experiments/perturbfish-celcomen-oos/celcomen_IRAK4.csv
experiments/perturbfish-celcomen-oos/celcomen_IRAK4.pdf
experiments/perturbfish-celcomen-oos/celcomen_IRF7.csv
experiments/perturbfish-celcomen-oos/celcomen_IRF7.pdf
experiments/perturbfish-celcomen-oos/celcomen_LBP.csv
experiments/perturbfish-celcomen-oos/celcomen_LBP.pdf
experiments/perturbfish-celcomen-oos/celcomen_MAP2K2.csv
experiments/perturbfish-celcomen-oos/celcomen_MAP2K2.pdf
experiments/perturbfish-celcomen-oos/celcomen_MAP2K6.csv
experiments/perturbfish-celcomen-oos/celcomen_MAP2K6.pdf
experiments/perturbfish-celcomen-oos/celcomen_MYD88.csv
experiments/perturbfish-celcomen-oos/celcomen_MYD88.pdf
experiments/perturbfish-celcomen-oos/celcomen_PELI1.csv
experiments/perturbfish-celcomen-oos/celcomen_PELI1.pdf
experiments/perturbfish-celcomen-oos/celcomen_summary.csv
experiments/perturbfish-celcomen-oos/celcomen_summary.pdf
experiments/perturbfish-celcomen-oos/celcomen_TAB2.csv
experiments/perturbfish-celcomen-oos/celcomen_TAB2.pdf
experiments/perturbfish-celcomen-oos/celcomen_TRAM1.csv
experiments/perturbfish-celcomen-oos/celcomen_TRAM1.pdf
experiments/perturbfish-celcomen-small/celcomen_CHUK.csv
experiments/perturbfish-celcomen-small/celcomen_CHUK.pdf
experiments/perturbfish-celcomen-small/celcomen_IRAK1.csv
experiments/perturbfish-celcomen-small/celcomen_IRAK1.pdf
experiments/perturbfish-celcomen-small/celcomen_IRF7.csv
experiments/perturbfish-celcomen-small/celcomen_IRF7.pdf
experiments/perturbfish-celcomen-small/celcomen_LBP.csv
experiments/perturbfish-celcomen-small/celcomen_LBP.pdf
experiments/perturbfish-celcomen-small/celcomen_MAP2K2.csv
experiments/perturbfish-celcomen-small/celcomen_MAP2K2.pdf
experiments/perturbfish-celcomen-small/celcomen_MAP2K6.csv
experiments/perturbfish-celcomen-small/celcomen_MAP2K6.pdf
experiments/perturbfish-celcomen-small/celcomen_MYD88.csv
experiments/perturbfish-celcomen-small/celcomen_MYD88.pdf
experiments/perturbfish-celcomen-small/celcomen_PELI1.csv
experiments/perturbfish-celcomen-small/celcomen_PELI1.pdf
experiments/perturbfish-celcomen-small/celcomen_summary.pdf
experiments/perturbfish-celcomen-small/celcomen_TAB2.csv
experiments/perturbfish-celcomen-small/celcomen_TAB2.pdf
experiments/perturbfish-celcomen-small/celcomen_TRAM1.csv
experiments/perturbfish-celcomen-small/celcomen_TRAM1.pdf
experiments/perturbfish-oos/all_summary_surrogate.pdf
experiments/perturbfish-oos/all_summary.pdf
experiments/perturbfish-oos/CHUK.csv
experiments/perturbfish-oos/CHUK.pdf
experiments/perturbfish-oos/fn1.pdf
experiments/perturbfish-oos/IRAK1.csv
experiments/perturbfish-oos/IRAK1.pdf
experiments/perturbfish-oos/IRAK4.csv
experiments/perturbfish-oos/IRAK4.pdf
experiments/perturbfish-oos/IRF7.csv
experiments/perturbfish-oos/IRF7.pdf
experiments/perturbfish-oos/LBP.csv
experiments/perturbfish-oos/LBP.pdf
experiments/perturbfish-oos/MAP2K2.csv
experiments/perturbfish-oos/MAP2K2.pdf
experiments/perturbfish-oos/MAP2K6.csv
experiments/perturbfish-oos/MAP2K6.pdf
experiments/perturbfish-oos/MYD88.csv
experiments/perturbfish-oos/MYD88.pdf
experiments/perturbfish-oos/pdcd1lg2.pdf
experiments/perturbfish-oos/PELI1.csv
experiments/perturbfish-oos/PELI1.pdf
experiments/perturbfish-oos/steamboat_summary.csv
experiments/perturbfish-oos/TAB2.csv
experiments/perturbfish-oos/TAB2.pdf
experiments/perturbfish-oos/TRAM1.csv
experiments/perturbfish-oos/TRAM1.pdf
experiments/perturbfish-surrogate/all_down_genes.csv
experiments/perturbfish-surrogate/all_summary_substitute.pdf
experiments/perturbfish-surrogate/all_summary_surrogate.pdf
experiments/perturbfish-surrogate/all_summary.pdf
experiments/perturbfish-surrogate/CHUK_gt.csv
experiments/perturbfish-surrogate/CHUK.csv
experiments/perturbfish-surrogate/CHUK.pdf
experiments/perturbfish-surrogate/fn1.pdf
experiments/perturbfish-surrogate/IRAK1_gt.csv
experiments/perturbfish-surrogate/IRAK1.csv
experiments/perturbfish-surrogate/IRAK1.pdf
experiments/perturbfish-surrogate/IRAK4_gt.csv
experiments/perturbfish-surrogate/IRF7_gt.csv
experiments/perturbfish-surrogate/IRF7.csv
experiments/perturbfish-surrogate/IRF7.pdf
experiments/perturbfish-surrogate/LBP_gt.csv
experiments/perturbfish-surrogate/LBP.csv
experiments/perturbfish-surrogate/LBP.pdf
experiments/perturbfish-surrogate/MAP2K2_gt.csv
experiments/perturbfish-surrogate/MAP2K2.csv
experiments/perturbfish-surrogate/MAP2K2.pdf
experiments/perturbfish-surrogate/MAP2K6_gt.csv
experiments/perturbfish-surrogate/MAP2K6.csv
experiments/perturbfish-surrogate/MAP2K6.pdf
experiments/perturbfish-surrogate/MYD88_gt.csv
experiments/perturbfish-surrogate/MYD88.csv
experiments/perturbfish-surrogate/MYD88.pdf
experiments/perturbfish-surrogate/pdcd1lg2.pdf
experiments/perturbfish-surrogate/PELI1_gt.csv
experiments/perturbfish-surrogate/PELI1.csv
experiments/perturbfish-surrogate/PELI1.pdf
experiments/perturbfish-surrogate/steamboat_summary.csv
experiments/perturbfish-surrogate/TAB2_gt.csv
experiments/perturbfish-surrogate/TAB2.csv
experiments/perturbfish-surrogate/TAB2.pdf
experiments/perturbfish-surrogate/TRAM1_gt.csv
experiments/perturbfish-surrogate/TRAM1.csv
experiments/perturbfish-surrogate/TRAM1.pdf
experiments/perturbfish-surrogate-one/CHUK.csv
experiments/perturbfish-surrogate-one/CHUK.pdf
experiments/perturbfish-surrogate-one/IRAK1.csv
experiments/perturbfish-surrogate-one/IRAK1.pdf
experiments/perturbfish-surrogate-one/IRF7.csv
experiments/perturbfish-surrogate-one/IRF7.pdf
experiments/perturbfish-surrogate-one/LBP.csv
experiments/perturbfish-surrogate-one/LBP.pdf
experiments/perturbfish-surrogate-one/MAP2K2.csv
experiments/perturbfish-surrogate-one/MAP2K2.pdf
experiments/perturbfish-surrogate-one/MAP2K6.csv
experiments/perturbfish-surrogate-one/MAP2K6.pdf
experiments/perturbfish-surrogate-one/MYD88.csv
experiments/perturbfish-surrogate-one/MYD88.pdf
experiments/perturbfish-surrogate-one/PELI1.csv
experiments/perturbfish-surrogate-one/PELI1.pdf
experiments/perturbfish-surrogate-one/TAB2.csv
experiments/perturbfish-surrogate-one/TAB2.pdf
experiments/perturbfish-surrogate-one/TRAM1.csv
experiments/perturbfish-surrogate-one/TRAM1.pdf
